﻿@model IEnumerable<Slider>
@{
    Layout = null;
}
<div class="main-slideshow">
    <div class="flexslider">
        <ul class="slides">
            @foreach (var item in Model)
            {
                <li>
                    @if (@item.ResimYolu == null)
                    {
                        <img src="http://placehold.it/770x400" alt="Slide 1" />
                    }
                    else
                    {
                        <img src="@item.ResimYolu" alt="Slide 1" />
                    }

                    <div class="slider-caption">
                        <h2><a href="blog-single.html">When a Doctor’s Visit Is a Guilt Trip</a></h2>
                        <p>@item.SliderText</p>
                    </div>
                </li>
            }

        </ul> <!-- /.slides -->
    </div> <!-- /.flexslider -->
</div> <!-- /.main-slideshow -->